[buildout]
extends =
  buildout-base.cfg
  https://dist.plone.org/release/5.2.4/versions.cfg
find-links +=
    https://dist.plone.org/release/5.2.4/
    https://dist.plone.org/thirdparty/

extensions =

index = https://pypi.python.org/simple/

var-dir=/data
user=admin:admin

effective-user = senaite
buildout-user = senaite

eggs-directory=../buildout-cache/eggs
download-cache=../buildout-cache/downloads

parts +=
  zeo
  plonesite


eggs +=
    plone.volto
    senaite.lims
    
zcml-additional =
  <configure xmlns="http://namespaces.zope.org/zope"
             xmlns:plone="http://namespaces.plone.org/plone">
  <plone:CORSPolicy
    allow_origin="http://localhost:3000,https://app.bewelldigital.com/"
    allow_methods="DELETE,GET,OPTIONS,PATCH,POST,PUT"
    allow_credentials="true"
    expose_headers="Content-Length,X-My-Header"
    allow_headers="Accept,Authorization,Content-Type,X-Custom-Header,Origin,Lock-Token"
    max_age="3600"
    />
  </configure>

[client1]
recipe =

[zeo]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 8080

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
site-id = senaite
profiles-initial = Products.CMFPlone:dependencies
profiles =
    senaite.lims:default
upgrade-portal = False
upgrade-all-profiles = False
enabled = False

[versions]
setuptools=42.0.2
zc.buildout=2.13.3
senaite.lims=2.0.0